name: CI

on: [push, pull_request]

permissions:
  contents: write
  pull-requests: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c
        with:
          ruby-version: '3.0'
          bundler-cache: true
      - name: Lint with Rubocop
        run: |
          bundle install
          bundle exec rubocop
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c
        with:
          ruby-version: '3.0'
          bundler-cache: true
      - name: Install dependencies
        run: bundle install
      - name: Run tests
        run: bundle exec rake
  docs-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c
        with:
          ruby-version: '3.0'
          bundler-cache: true
      - name: Verify docs coverage
        run: |
          bundle install
          bundle exec rake docs:coverage
  tests-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c
        with:
          ruby-version: '3.0'
          bundler-cache: true
      - name: Verify all rules have test coverage
        run: |
          bundle install
          bundle exec rake tests:coverage
